body {
  margin: 0;
  padding: 0;
}

#game {
  position: relative;
}

#game canvas {
  position: absolute;
  left: 50%;
  top: 0;
  max-width: 100%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
